body{
    background: #111;
    color: white;
    text-align: center;
    font-family: Roboto;
}

canvas{
    background: #000;
    border: 3px solid white;
    margin-top:20px;
}

.bottom-text {
    color: white;
    font-family: Roboto;
    text-align: center;
    font-size: 20px;

    text-shadow: 
        0 0 4px rgba(255,255,255,0.4),
        0 0 8px rgba(255,255,255,0.3);

    animation: pulseGlow 2.5s ease-in-out infinite;
}

@keyframes pulseGlow {
    0% {
        text-shadow:
            0 0 4px rgba(255,255,255,0.3),
            0 0 8px rgba(255,255,255,0.2);
        opacity: 0.85;
    }

    50% {
        text-shadow:
            0 0 6px rgba(255,255,255,0.8),
            0 0 14px rgba(255,255,255,0.6),
            0 0 24px rgba(255,255,255,0.3);
        opacity: 1;
    }

    100% {
        text-shadow:
            0 0 4px rgba(255,255,255,0.3),
            0 0 8px rgba(255,255,255,0.2);
        opacity: 0.85;
    }
}

.highest_scoresection{
    border: 2px solid white;
    position:fixed;
    top:200px;
    left:300px;
    font-family: Jacquard-12;
    font-size: 30px;
    margin:10px;
}

.scoresection{
    border: 2px solid white;
    position:fixed;
    top:160px;
    left:350px;
    font-family: Jacquard-12;
    font-size: 30px;
}

.start-button{
    background-color: purple;
    color:white;
    font-size: 50px;
    font-family:Tourney;
    border:none;
}

.start-button:hover{
    color:purple;
    border:solid;
    background-color: black;
}

.start-button-box{
    display: flex;
    justify-content: center;
    margin-top:50px;
}
